<div class="ui pointing menu">
  <div class="ui container">
      <a class="ui header item" href="/">
        YelpCamp
      </a>
      <div class="right menu">
        <% if(!currentUser){ %>
          <a href="/register" class="item">
            Sign up
          </a>
          <a href="/login" class="item">
            Login
          </a>
        <% } else { %>
          <a class="item" href="#">Welcome, <%= currentUser.username %></a>
          <a href="/logout" class="item">
            Log out
          </a>
        <% } %>
      </div>
  </div>
</div>