<div class="ui pointing menu">
  <div class="ui container">
      <a class="ui header item" href="/">
        YelpCamp
      </a>
      <div class="right menu">
        <a class="item">
          Sign up
        </a>
        <a class="item">
          Login
        </a>
        <a class="item">
          Log out
        </a>
      </div>
  </div>
</div>