<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="jumbotron text-center">
    <h1>Yeeeeeeeelp Caaaaaaaamp</h1>
    <p class="lead">I just wanna say welcome!</p>
    <a href="/campgrounds" class="btn btn-primary btn-lg">Viel All Campgrounds!</a>
</div>


<%- include("partials/footer") %>