<%- include("partials/header") %>
<%- include("partials/navbar") %>

<!-- <div class="jumbotron text-center">
    <h1>Yeeeeeeeelp Caaaaaaaamp</h1>
    <p class="lead">I just wanna say welcome!</p>
    <a href="/campgrounds" class="btn btn-primary btn-lg">Viel All Campgrounds!</a>
</div> -->

<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui header">
                Yelp Camp
            </h1>
            <h2>Do whatever you want when you want to.</h2>
            <a href="/campgrounds" class="ui huge violet button">View All <i class="right arrow icon"></i>
            </a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>