<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="ui middle aligned center aligned grid">
    <div class="column" id="form">
        <div class="ui container">
            <h1 class="ui huge header">Create An Account</h1>
            <form class="ui large form" action="/register" method="POST">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <button class="ui violet button" type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>


<%- include("./partials/footer") %>