.masthead.segment {
    min-height: 300px;
    padding: 1em 0em;
}
.masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

#camp-card{
    margin-top: 2em;
    margin-bottom: 2em;
}

#detail-image {
    padding: 0;
}
#detail-text {
    padding: 1rem;
}
#comment-button {
    margin-top: 0.5em;
}